// src/styles/settings.scss

// Paleta boja
$primary-color: #FF5733; // Narančasta boja
$secondary-color: #28A745; // Zelena boja
$background-color: #F5F5F5; // Svijetlo siva pozadina
$card-background-color: #FFFFFF; // Bijela pozadina kartice
$card-border-color: #E0E0E0; // Svijetlo siva granica kartice
$text-color: #FFFFFFFF; // Tamno siva za tekst
$subtle-text-color: #555; // Malo svjetlija tamno siva za tekst
$quantity-color: #333; // Tamno siva za količinu
$style-color: #595858; // Tamno siva za količinu


// Primjena boja
$primary: $primary-color;
$secondary: $secondary-color;
$background: $background-color;
$card-background: $card-background-color;
$card-border: $card-border-color;
$text: $text-color;
$subtle-text: $subtle-text-color;
$quantity: $quantity-color;
$style-color: $style-color;


