// src/styles/settings.scss

// Paleta boja
$primary-color: #FF5733;
$secondary-color: #28A745;
$background-color: #121212;
$card-background-color: #FFFFFF;
$card-border-color: #E0E0E0;
$text-color: #FFFFFFFF;
$subtle-text-color: #555;
$quantity-color: #333;
$style-color: #595858;


// Primjena boja
$primary: $primary-color;
$secondary: $secondary-color;
$background: $background-color;
$card-background: $card-background-color;
$card-border: $card-border-color;
$text: $text-color;
$subtle-text: $subtle-text-color;
$quantity: $quantity-color;
$style-color: $style-color;


